
.column-flex-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 60px auto;
}

.header-login {
    align-self: center; /*выравнивает по центру*/
}

.form-control {
    margin-bottom: 10px;
    width: auto;
}

.link-reg {
    margin-bottom: 10px;
    text-decoration: none;
}

.select-container {
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    /*align-items: flex-start;*/
}

.select-label {
    flex: 1;
    align-self: center; /*выравнивает по центру*/
}

.select-sex {
    flex: 2;
}

.select-country {
    flex: 2;
}

.select-city {
    flex: 2;
}

.wrapper {
    margin: 20px auto;
    width: 960px;
    display: flex;
}

.menu-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
}

.add-content-column {
    /*display: flex;*/
    flex: 2;
    /*flex-direction: column;*/
    border: 1px solid blue;
    height: 600px;
}

.content-column {
    display: flex;
    flex: 4;
    flex-direction: column;
    border: 1px solid blue;
}

.avatar-class {
    margin: 0 auto;
}


.change-avatar-class{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.friends-class {
    display: flex;
    background: yellow;
    flex: 5;

}

.img-ava {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    padding: 10px 25px;
    height: 250px;
}