body {
    background-color: rgba(237, 238, 240, 1);
}

.column-flex-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 60px auto;
}

.header-login {
    align-self: center; /*выравнивает по центру*/
}

.form-control {
    margin-bottom: 10px;
    width: auto;
}

.link-reg {
    margin-bottom: 10px;
    text-decoration: none;
}

.select-container {
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    /*align-items: flex-start;*/
}

.select-label {
    flex: 1;
    align-self: center; /*выравнивает по центру*/
}

.select-sex {
    flex: 2;
}

.select-country {
    flex: 2;
}

.select-city {
    flex: 2;
}

.wrapper {
    margin: 20px auto;
    width: 960px;
    display: flex;
}

.menu-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-content: center;
    /*background-color: white;*/
    margin-right: 20px;
}

.add-content-column {
    /*display: flex;*/
    flex: 3;
    /*flex-direction: column;*/
    /*border: 1px solid blue;*/
    height: 600px;
    margin-right: 20px;
}

.content-column {
    display: flex;
    flex: 6;
    flex-direction: column;
    background-color: white;
    /*border: 1px solid blue;*/
}

.avatar-class {
    margin: 0 auto;
    background-color: white;
}

.change-avatar-class {
    background-color: white;
    padding: 10px;
    margin: 0 auto 20px;
}

.friends-container-class {
    display: flex;
    /*background-color: white;*/
    flex: 5;
    border: 1px solid green;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #9acfea;
}

.friend-class {
    display: inline-flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    margin: 10px;
    /*width: 50px;*/
    /*height:50px;*/
}
.friend-ava-class{
    /*border: 1px solid white;*/
    /*border-radius: 25px;*/
    /*width: 50px;*/
    /*height: 50px;*/
}
.friend-ava-class>img{
    margin: 0 auto;
    max-height: 100%;
    border: 1px solid;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.img-ava {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    padding: 10px 25px;
    height: 250px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #E1E4EB;
}

